<div id="<%= dom_id staff %>">
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= staff.dob %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= staff.role_id %>
  </p>

  <p>
    <strong>Iban:</strong>
    <%= staff.iban %>
  </p>

  <p>
    <strong>Bic:</strong>
    <%= staff.bic %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= staff.location_id %>
  </p>

</div>
