<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= render item.recipe %>
  </p>

  <p>
    <strong>Modifier:</strong>
    <%= item.modifier_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

</div>
